@media(min-width: 769px){
.headconteinerinfo{
    width: 1280px;
    height: 944px;
    background: #F5F5F5;
    margin: 0;
}
.aboutlogo1-1{
    width: 310px;
    height: 310px;
    margin: -63px 89px 0 55px;
}
.infoaboutcompany{
    display: inline-flex;
    width: 1280px;
    height: 750px;
}
h1{
    width: 1280px;
    height: 68px;
    font-family: Roboto;
    font-weight: 700;
    font-style:normal;
    font-size: 35px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    padding: 126px 0 0 455px;
}
.abouttextinfo{
    align-content: end;
    display: flex;
    flex-direction: column;
    width: 735px;
    height: 713px;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    margin-top: 37px;
}
span{
    margin-bottom: 20px;
}
}
@media(max-width: 768px){
    .headconteinerinfo{
        width: 768px;
        height: 1022px;
        background: #F5F5F5;
        margin: 0;
    }
    .aboutlogo1-1{
        width: 190px;
        height: 190px;
        margin: -63px 56px 0 30px;
    }
    .infoaboutcompany{
        display: inline-flex;
        width: 100%;

    }
    h1{
        width: 728px;
        height: 68px;
        font-family: Roboto;
        font-weight: 700;
        font-style:normal;
        font-size: 25px;
        line-height: 36px;
        color: #000000;
        margin: 0;
        padding: 91px 0 0 0;
        text-align: center;
    }
    .abouttextinfo{
        align-content: end;
        display: flex;
        flex-direction: column;
        width: 462px;
        height: 761px;
        font-family: Roboto;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 102px;
    }
    .abouttextinfo span{
        margin-top: 0;
        margin-bottom: 15px;
    }
}
@media(max-width: 375px){
    .headconteinerinfo{
        width: 375px;
        height: 1574px;
        background: #F5F5F5;
        margin: 0;
    }
    .aboutlogo1-1{
        width: 146.31px;
        height: 146px;
        margin: 7px 0 43px 114px;
    }
    .infoaboutcompany{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    h1{
        width: 375px;
        height: 68px;
        font-family: Roboto;
        font-weight: 700;
        font-style:normal;
        font-size: 22px;
        line-height: 36px;
        color: #000000;
        margin: 0;
        padding: 26px 0 0 0;
        text-align: center;
    }
    .abouttextinfo{
        align-content: end;
        display: flex;
        flex-direction: column;
        width: 345px;
        height: 1183px;
        font-family: Roboto;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        line-height: 32px;
        margin: 0 15px 101px 15px;
    }
    .abouttextinfo span{
        margin-top: 0;
        margin-bottom: 15px;
    }
}