@media(min-width: 769px){
.head{
    width: 1280px;
    height: 198px;
    background: #6AB66B;
}
.logo1{
    position: inherit;
    margin: 33px 570px 0 570px;
}
.headposmenu{
    display: flex;
    width: 1280px;
    height: 70px;
    margin-top: 25px;
}
.headmenu{
    width: 805px;
    height: 19px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23.48px;
    display: inline-flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 18px;
    margin-left: 83px;

}
.headlinkmenu a{
    color: #FFFFFF;
    text-decoration: none;
}
.headlinkmenu{
    margin-right: 61px;
}
.ellips{
    position: relative;
    width: 6px;
    height: 6px;
    margin-left: 20px;
    top: 10px;
    left: -30px;
}
.headimgshop{
    width: 17.32px;
    height: 18.54px;
    margin-top: 20px;
    margin-left: 25.41px;
}
.headintershop a{
    width: 197px;
    height: 46px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;
}
.headintershop{
    width: 197px;
    height: 46px;
    margin-left: 11.27px;
    margin-top: 23px;
    margin-bottom: 1px;

}
.RU{
    width: 43px;
    height: 33px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23.44px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 39px;
}
.vector{
    width: 10px;
    height: 5px;
    margin-top: 30px;
    margin-left: -5px;
}
.header_humburger{
    display: none;
}
}

@media(max-width: 768px){
    .head{
        position: sticky;
        top: 0;
        display: inline-flex;
        width: 768px;
        height: 70px;
        background: #6AB66B;
    }
    a.link{
        text-align: center;
        font-family: "Roboto";
        font-weight: 900;
        font-style: normal;
        line-height: 40px;
        font-size: 25px;
        color: #FFFFFF;
        text-decoration: none;
    }
    li.headlinkmenu{
        font-family: "Roboto";
        font-weight: 700;
        font-style: normal;
        line-height: 40px;
        font-size: 25px;
        list-style: none;
        margin-right: 100px;
        padding-top: 50px;
        text-align: center;

    }
    li + li{
        margin-top: 30px;
    }

    .headmenu{
        width: 80%;
        height: 670px;
        position: absolute;
        display: block;
        margin-top: 70px;
        left: -100%;
        background: rgba(106, 182, 107, 0.9);
        transition: left 0.5s;
    }
    .header_humburger{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 18px;
        margin-left: 30px;
        margin-top: 26px;
        padding: 0;
        background: transparent;
        border: transparent;
    }
    button span{
        display: block;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        position: relative;
        margin: 0;
    }
    span + span{
        margin-top: 6px;
    }
    .active .headmenu {
        left: 0;
    }
    .logo1{
        display: flex;
        width: 70px;
        height: 35px;
        margin: 17px 0 18px 30px;
    }
    .headposmenu{
        display: flex;
        width: 0;
        height: 0;
    }
    .headlinkmenu a{
        color: #FFFFFF;
        text-decoration: none;
    }
    .headlinkmenu{
        margin-right: 61px;
    }
    .ellips{
        display: none;
    }
    .headimgshop{
        display: inline-flex;
        width: 17.32px;
        height: 18.54px;
        margin: 23.91px 10.77px 0 334px;

    }
    .headintershop a{
        display: inline-flex;
        width: 197px;
        height: 46px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        line-height: 14px;
        color: #FFFFFF;
        text-align: center;
    }
    .headintershop{
        width: 197px;
        height: 46px;
        margin-top: 23px;
        margin-bottom: 1px;

    }
    .RU{
        width: 35px;
        height: 33px;
        font-family: Raleway;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        line-height: 23.48px;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: -30px;
    }
    .vector{
        width: 10px;
        height: 5px;
        margin-top: 30px;
        margin-left: 3px;
    }
}
@media(max-width: 375px){
    .head{
        position: sticky;
        top: 0;
        display: inline-flex;
        width: 375px;
        height: 48px;
        background: #6AB66B;
    }
    a.link{
        text-align: center;
        font-family: "Roboto";
        font-weight: 900;
        font-style: normal;
        line-height: 40px;
        font-size: 25px;
        color: #FFFFFF;
        text-decoration: none;
    }
    li.headlinkmenu{
        font-family: "Roboto";
        font-weight: 900;
        font-style: normal;
        line-height: 40px;
        font-size: 25px;
        list-style: none;
        margin-right: 100px;
        padding-top: 50px;
        text-align: start;

    }
    li + li{
        margin-top: 30px;
    }

    .headmenu{
        width: 100%;
        height: 670px;
        position: absolute;
        display: block;
        left: -120%;
        margin: 48px 0 0 0;
        background: rgba(106, 182, 107, 0.9);
        transition: left 0.5s;
    }
    .header_humburger{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 18px;
        margin-left: 14px;
        margin-top: 15px;
        padding: 0;
        background: transparent;
        border: transparent;
    }
    button span{
        display: block;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        position: relative;
        margin: 0;
    }
    span + span{
        margin-top: 6px;
    }
    .active .headmenu {
        left: 0;
    }
    .logo1{
        display: flex;
        width: 48px;
        height: 24px;
        margin: 13px 0 11px 117px;
    }
    .headposmenu{
        display: inline-flex;
        width: 0;
        height: 0;
    }
    .headlinkmenu a{
        color: #FFFFFF;
        text-decoration: none;
    }
    .headlinkmenu{
        margin-right: 61px;
    }
    .ellips{
        display: none;
    }
    .headimgshop{
        display: none;

    }
    .headintershop a{
        display: none;
    }

    .RU{
        width: 51px;
        height: 23px;
        font-family: Raleway;
        font-weight: 700;
        font-style: normal;
        font-size: 17px;
        line-height: 19.96px;
        color: #FFFFFF;
        margin-top: 14px;
        margin-left: 107px;
    }
    .vector{
        width: 10px;
        height: 5px;
        margin-top: 24px;
        margin-left: 11px;
    }
}