@media(min-width: 769px) {
    .midle {
        width: 1280px;
        height: 897px;
        background: #E7EFE7;
    }

    h2 {
        text-align: center;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        width: 1280px;
        height: 159px;
        margin: 0;
        padding-top: 9.4%;

    }
    .centrconteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .item1 {
        display: flex;
        justify-content: space-around;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .item2 {
        display: flex;
        justify-content: space-around;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .bord1 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 6.5% 7.5% 7.5%;
    }

    .bord2 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 5.5% 7.5% 7.5%;

    }

    .notebook {
        width: 28px;
        height: 44.56px;
        margin: 19.5% 40% 25% 32.5%;
    }

    .medal {
        width: 40.65px;
        height: 48.68px;
        margin: 21.5% 24.6% 18% 24.62%;

    }

    .textbox1 {
        width: 276px;
        height: 79px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 9% 5.5% 6.6% 0%;
    }

    .textbox2 {
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 13% 2% 2.3% 0;

    }

    .item3 {
        display: inline-flex;
        width: 441px;
        height: 146px;
        top: 459px;
        left: 155px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .item4 {
        display: inline-flex;
        width: 441px;
        height: 146px;
        top: 459px;
        left: 684px;;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .bord3 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 5.3% 7.5% 7.5%;
    }

    .bord4 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 5.3% 7.5% 7.5%;
    }

    .car {
        width: 48.89px;
        height: 36.3px;
        margin: 28% 18% 27% 22% ;
    }

    .tea {
        width: 50.83px;
        height: 41.3px;
        margin: 23% 18% 25% 18.2% ;
    }

    .textbox3 {
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 10.7% 1.9% 4.6% 0;
    }

    .textbox4 {
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 10% 7.5% 5.3% 0;
    }

    .item5 {
        display: inline-flex;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .item6 {
        display: inline-flex;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .bord5 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.8% 5.4% 7.3% 7.5%;
    }

    .bord6 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 5.3% 7.5% 7.5%;
    }

    .warehouse {
        width: 48.89px;
        height: 36.3px;
        margin: 25% 20% 27% 20%;

    }

    .coffee {
        width: 50.83px;
        height: 41.3px;
        margin: 23% 19% 25% 19%;

    }

    .textbox5 {
        display: flex;
        width: 268px;
        height: 87px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 6% 8.5%  7.5% 0;
    }

    .textbox6 {
        display: flex;
        width: 272px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 10% 7.5%  5.3% 0;
    }
    }
@media(max-width: 768px){


    h2 {
        text-align: center;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        width: 614px;
        height: 159px;
        margin: 0;
        padding-top: 89px;
        padding-left: 77px;
        color: #FFFFFF;

    }
    .centrconteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 39px;
    }
    .item1 {
        display: flex;
        flex-direction: column;
        width: 339px;
        height: 281px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 30px;
    }

    .item2 {
        display: flex;
        flex-direction: column;
        width: 339px;
        height: 281px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 30px;
    }

    .bord1 {
        display: flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 136px 0 123px;
    }

    .bord2 {
        display: flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 136px 0 123px;

    }

    .notebook {
        width: 28px;
        height: 44.56px;
        margin: 19.5% 40% 25% 32.5%;
    }

    .medal {
        width: 40.65px;
        height: 48.68px;
        margin: 21.5% 24.6% 18% 24.62%;

    }

    .textbox1 {
        display: flex;
        flex-direction: column;
        width: 215px;
        height: 133px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }

    .textbox2 {
        display: flex;
        flex-direction: column;
        width: 215px;
        height: 133px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;

    }

    .item3 {
        display: inline-flex;
        flex-direction: column;
        width: 339px;
        height: 281px;
        top: 459px;
        left: 155px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 30px;
    }

    .item4 {
        display: inline-flex;
        flex-direction: column;
        width: 339px;
        height: 281px;
        top: 459px;
        left: 684px;;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 30px;
    }

    .bord3 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 136px 0 123px;
    }

    .bord4 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 136px 0 123px;
    }

    .car {
        width: 48.89px;
        height: 36.3px;
        margin: 28% 18% 27% 22% ;
    }

    .tea {
        width: 50.83px;
        height: 41.3px;
        margin: 23% 18% 25% 18.2% ;
    }

    .textbox3 {
        width: 215px;
        height: 133px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }

    .textbox4 {
        width: 215px;
        height: 133px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }

    .item5 {
        display: flex;
        flex-direction: column;
        width: 339px;
        height: 281px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 111px;
    }

    .item6 {
        display: flex;
        flex-direction: column;
        width: 339px;
        height: 281px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 111px;
    }

    .bord5 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 136px 0 123px;
    }

    .bord6 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 136px 0 123px;
    }

    .warehouse {
        width: 48.89px;
        height: 36.3px;
        margin: 25% 20% 27% 20%;

    }

    .coffee {
        width: 50.83px;
        height: 41.3px;
        margin: 23% 19% 25% 19%;

    }

    .textbox5 {
        display: flex;
        width: 215px;
        height: 133px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }

    .textbox6 {
        display: flex;
        width: 215px;
        height: 133px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }
}
@media(max-width: 375px) {
    h2 {
        text-align: center;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        line-height: 28px;
        width: 308px;
        height: 144px;
        margin: 0;
        padding-top: 108px;
        padding-left: 34px;
        color: #000000;

    }
    .centrconteiner{
        display: flex;
        flex-direction: column;
        margin: 0 15px 0 15px;
    }
    .item1 {
        display: flex;
        flex-direction: column;
        width: 345px;
        height: 281px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 15px;
    }

    .item2 {
        display: flex;
        flex-direction: column;
        width: 345px;
        height: 234px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 15px;
    }

    .bord1 {
        display: flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 132px 0 133px;
    }

    .bord2 {
        display: flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 133px 0 132px;

    }

    .notebook {
        width: 28px;
        height: 44.56px;
        margin: 15px 26px 20.44px 26px;
    }

    .medal {
        width: 40.65px;
        height: 48.68px;
        margin: 17.04px 19.68px 14.29px 19.68px;

    }

    .textbox1 {
        display: flex;
        flex-direction: column;
        width: 215px;
        height: 94px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }

    .textbox2 {
        display: flex;
        flex-direction: column;
        width: 215px;
        height: 189px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 17px 66px 0 64px;
        text-align: center;
        color: #000000;

    }

    .item3 {
        display: inline-flex;
        flex-direction: column;
        width: 345px;
        height: 271px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 15px;
    }

    .item4 {
        display: inline-flex;
        flex-direction: column;
        width: 345px;
        height: 265px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 15px;
    }

    .bord3 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 132px 0 133px;
    }

    .bord4 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 132px 0 133px;
    }

    .car {
        width: 50.37px;
        height: 37.04px;
        margin: 21.48px 13.33px 21.48px 16.3px;
    }

    .tea {
        width: 50.83px;
        height: 41.3px;
        margin: 18.26px 14.61px 20.44px 14.56px;
    }

    .textbox3 {
        width: 215px;
        height: 60px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 17px 63px 0 61px;
        text-align: center;
        color: #000000;
    }

    .textbox4 {
        width: 215px;
        height: 189px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 17px 73px 0 57px;
        text-align: center;
        color: #000000;
    }

    .item5 {
        display: flex;
        flex-direction: column;
        width: 345px;
        height: 281px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 15px;
    }

    .item6 {
        display: flex;
        flex-direction: column;
        width: 345px;
        height: 265px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 15px;
    }

    .bord5 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 133px 0 132px;
    }

    .bord6 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 51px 132px 0 133px;
    }

    .warehouse {
        width: 48px;
        height: 38.57px;
        margin: 20px 16px 21.43px 16px;

    }

    .coffee {
        width: 50.83px;
        height: 41.3px;
        margin: 23% 19% 25% 19%;

    }

    .textbox5 {
        display: flex;
        width: 215px;
        height: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 17px 70px 0 60px;
        text-align: center;
        color: #000000;
    }

    .textbox6 {
        display: flex;
        width: 215px;
        height: 189px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 17px 66px 0 64px;
        text-align: center;
        color: #000000;
    }
}