@media(min-width: 1280px) {
    .midle {
        position: inherit;
        width: 1280px;
        height: 897px;
        top: 858px;
        background: #E7EFE7;
    }

    h2 {
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        width: 956px;
        height: 159px;
        margin: 0;
        padding: 120px 162px 618px 162px;
        text-align: center;
    }

    .item1 {
        position: absolute;
        width: 441px;
        height: 146px;
        top: 293px;
        left: 155px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .item2 {
        position: absolute;
        width: 441px;
        height: 146px;
        top: 293px;
        left: 684px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .bord1 {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 33px 328px 33px 33px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .bord2 {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 33px 328px 33px 33px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .notebook {
        position: absolute;
        width: 28px;
        height: 44.56px;
        margin: 15px 26px 20.44px 26px;


    }

    .medal {
        position: absolute;
        width: 40.65px;
        height: 48.68px;
        margin: 17.04px 19.68px 14.29px 19.68px;
    }

    .textbox1 {
        position: absolute;
        width: 276px;
        height: 79px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        padding: 38px 24px 29px 141px;
    }

    .textbox2 {
        position: absolute;
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        padding: 57px 8px 10px 136px;

    }

    .item3 {
        position: absolute;
        width: 441px;
        height: 146px;
        top: 459px;
        left: 155px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .item4 {
        position: absolute;
        width: 441px;
        height: 146px;
        top: 459px;
        left: 684px;;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .bord3 {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 33px 328px 33px 33px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .bord4 {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 33px 328px 33px 33px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .car {
        position: absolute;
        width: 48.89px;
        height: 36.3px;
        margin: 22.22px 17.04px 12.59px 17.04px;
    }

    .tea {
        position: absolute;
        width: 50.83px;
        height: 41.3px;
        margin: 18.26px 14.61px 20.44px 14.56px;
    }

    .textbox3 {
        position: absolute;
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        padding: 47px 8px 20px 136px;
    }

    .textbox4 {
        position: absolute;
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        padding: 45px 33px 22px 136px;
    }

    .item5 {
        position: absolute;
        width: 441px;
        height: 146px;
        top: 623px;
        left: 155px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .item6 {
        position: absolute;
        width: 441px;
        height: 146px;
        top: 623px;
        left: 684px;;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .bord5 {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 33px 328px 33px 33px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .bord6 {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 33px 328px 33px 33px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .warehouse {
        position: absolute;
        width: 48.89px;
        height: 36.3px;
        margin: 22.22px 17.04px 12.59px 17.04px;
    }

    .coffee {
        position: absolute;
        width: 50.83px;
        height: 41.3px;
        margin: 18.26px 14.61px 20.44px 14.56px;
    }

    .textbox5 {
        position: absolute;
        width: 268px;
        height: 87px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        padding: 26px 37px 33px 136px;
    }

    .textbox6 {
        position: absolute;
        width: 272px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        padding: 44px 33px 23px 136px;
    }
}