@media(min-width: 1280px) {
    .midle {
        width: 1280px;
        height: 897px;
        background: #E7EFE7;
    }

    h2 {
        text-align: center;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        width: 1280px;
        height: 159px;
        margin: 0;
        padding-top: 9.4%;

    }
    .centrconteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .item1 {
        display: flex;
        justify-content: space-around;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .item2 {
        display: flex;
        justify-content: space-around;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .bord1 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 6.5% 7.5% 7.5%;
    }

    .bord2 {
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 5.5% 7.5% 7.5%;

    }

    .notebook {
        width: 28px;
        height: 44.56px;
        margin: 19.5% 40% 25% 32.5%;
    }

    .medal {
        width: 40.65px;
        height: 48.68px;
        margin: 21.5% 24.6% 18% 24.62%;

    }

    .textbox1 {
        width: 276px;
        height: 79px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 9% 5.5% 6.6% 0%;
    }

    .textbox2 {
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 13% 2% 2.3% 0;

    }

    .item3 {
        width: 441px;
        height: 146px;
        top: 459px;
        left: 155px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .item4 {
        width: 441px;
        height: 146px;
        top: 459px;
        left: 684px;;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
        margin-bottom: 2%;
    }

    .bord3 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .bord4 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
    }

    .car {
        width: 48.89px;
        height: 36.3px;

    }

    .tea {
        width: 50.83px;
        height: 41.3px;

    }

    .textbox3 {
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        padding: 47px 8px 20px 136px;
    }

    .textbox4 {
        width: 297px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        padding: 45px 33px 22px 136px;
    }

    .item5 {
        display: inline-flex;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .item6 {
        display: inline-flex;
        width: 441px;
        height: 146px;
        box-shadow: 0 0 20px rgba(27, 148, 72, 0.3);
        border-radius: 10px;
        background: #FAFAFA;
    }

    .bord5 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.8% 5.4% 7.3% 7.5%;
    }

    .bord6 {
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(27, 148, 72, 0.5);
        margin: 7.5% 5.3% 7.5% 7.5%;
    }

    .warehouse {
        width: 48.89px;
        height: 36.3px;
        margin: 25% 20% 27% 20%;

    }

    .coffee {
        width: 50.83px;
        height: 41.3px;
        margin: 23% 19% 25% 19%;

    }

    .textbox5 {
        display: flex;
        width: 268px;
        height: 87px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        margin: 6% 8.5%  7.5% 0;
    }

    .textbox6 {
        display: flex;
        width: 272px;
        height: 79px;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: normal;
        line-height: 22px;
        margin: 10% 7.5%  5.3% 0;
    }
}