@media(min-width: 1280px) {
    .secondul {
        position: absolute;
        width: 697px;
        height: 19px;
        padding-left: 0;
        margin: 69px 528px 226px 55px;
        list-style-type: none;
    }

    .linkfoot {
        display: inline;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23.44px;
        color: #FFFFFF;
        position: relative;
        text-decoration: none;
        margin-left: 15px;
    }

    .linkfoot:hover {
        text-decoration: underline;
    }

    .footerinshop {
        position: absolute;
        width: 273px;
        height: 37px;
        margin: 74px 47px 203px 960px;
        font-family: "Roboto Light";
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .footerinshop:hover {
        text-decoration: underline;
    }

    .footerinfo {
        position: absolute;
        width: 533px;
        height: 79px;
        margin: 140px 692px 95px 55px;
        font-family: "Roboto Light";
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        line-height: 19.92px;
        color: rgba(255, 255, 255, 0.5);

    }

    .indent {
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .jobtime {
        position: absolute;
        width: 255px;
        height: 17px;
        font-family: Roboto;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 23.44px;
        color: #FFFFFF;
        margin: 138px 55px 159px 970px;
    }
}
