@media(min-width: 769px) {
    .buttomstring{
        display: inline-flex;
        width: 100%;
        margin-top: 5.4%;
    }
    .buttommenu {
        width: 697px;
        height: 19px;
       margin-top: 0;
        margin-right: 16.3%;
        list-style-type: none;
    }

    .linkfoot {
        display: inline;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23.44px;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 15px;
    }

    .linkfoot:hover {
        text-decoration: underline;
    }

    .footerinshop {
        font-family: "Roboto Light";
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 0.4%;
    }

    .footerinshop:hover {
        text-decoration: underline;
    }
.buttominfo{
    width: 100%;
    display: inline-flex;
}
    .footerinfo {
        width: 533px;
        height: 79px;
        font-family: "Roboto Light";
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        line-height: 19.92px;
        color: rgba(255, 255, 255, 0.5);
        margin: 4.1% 29.9% 0 4.3%;

    }

    .jobtime {
        font-family: Roboto;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 23.44px;
        color: #FFFFFF;
        margin: 3.2% 2% 0 0;

    }
    .indent{
        margin-bottom: 2.5%;
    }
}
