@media(min-width: 769px) {
    .Newscompani {
        display: inline-flex;
        width: 503px;
        height: 58px;
        right: 796px;
        padding: 10.3% 31.3% 5.2% 4.3%;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        color: #303030;

    }

    .boxnews {
        display: inline-flex;
        width: 261px;
        height: 59px;
        padding: 0.55% 3% 1.5% 3%;
        margin-right: 4.4%;
        background: #F5F5F5;
        border: 1px solid #1B9448;
        box-sizing: border-box;
        text-align: center;
        text-decoration-color: #1B9448;
    }

    .linkallnews {
        width: 261px;
        height: 33px;
        font-family: Roboto;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
        line-height: 40px;
        text-decoration: none;
        color: #1B9448;
    }

    .linkallnews:hover {
        color: #FFFFFF;
    }

    .boxnews:hover {
        background: #1B9448;
    }
    .flex{
        width: 100%;
        display: inline-flex;
    }

    img.coffeejpg {
        width: 369px;
        height: 279px;
        display: inline-flex;
        margin-left: 4.2%;
    }

    .wwindowinfo {
        display: inline-flex;
        width: 801px;
        height: 279px;
        background: #FFFFFF;

    }

    .articlemain {
        width: 676px;
        height: 156px;
        margin: 5% 7.8% 8.5% 7.9%;
    }

    .boldertext {
        width: 676px;
        height: 156px;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 25px;
        line-height: 35px;
        color: #393939;

    }

    .description {
        width: 676px;
        height: 91px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        line-height: 30px;
        color: #000000;
        margin-top: 1.5%;

    }

    .date1 {
        width: 639px;
        height: 42px;
        ont-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 40px;
        color: #9B9B9B;
        margin-top: 1.2%;
    }
    .display{
        display: inline-flex;
    }

    .conteiner1 {
        display: inline-flex;
        width: 100%;
        left: 54px;
        top: 569px;

    }

   .margin1 {
        margin-left: 4.25%;

    }

    .margin2 {
        margin-left: 2.45%;
    }

    .margin3 {
        margin-left: 2.3%;
    }

    .conteiner2 {
        display: inline-flex;
        width: 100%;
        padding: 0;
    }

    .conteinerfirst {
        width: 369px;
        height: 212px;
        margin-left: 4.25%;
        background: #FFFFFF;
    }

    .conteinertwo {
        width: 369px;
        height: 212px;
        margin-left: 2.45%;
        background: #FFFFFF;
    }

    .conteinerthree {
        width: 369px;
        height: 212px;
        margin-left: 2.3%;
        background: #FFFFFF;
    }

    .info1 {
        width: 293px;
        height: 50px;
        padding: 27px 37px 0 39px;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        line-height: 32px;
    }

    .info2 {
        width: 294px;
        height: 92px;
        padding: 27px 36px 0 39px;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        line-height: 32px;
    }

    .info3 {
        width: 297px;
        height: 50px;
        padding: 27px 33px 0 39px;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        line-height: 32px;
    }

    .dateinfo1 {
        width: 219px;
        height: 63px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        color: #949494;
        padding: 57px 111px 15px 39px;
    }

    .dateinfo2 {
        width: 219px;
        height: 63px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        color: #949494;
        padding: 15px 111px 15px 39px;
    }

    .dateinfo3 {
        width: 219px;
        height: 63px;
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        color: #949494;
        padding: 57px 111px 15px 39px;
    }
}



