@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media(min-width: 769px) {


    body {
        position: relative;
        width: 1280px;
        height: 3613px;
        margin: 0 auto;
        background: #E5E5E5;
    }

    footer {
        width: 1280px;
        height: 314px;
        background: #6AB66B;
    }

    .end {
        width: 1280px;
        height: 1188px;
        background: #F5F5F5;
    }
}
@media (max-width: 768px) {
    body{
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        background: #E5E5E5;
    }
    .end{
        width: 768px;
        height: 907px;
        background: #F5F5F5;
    }
}

