
.windowimg{
    display: flex;
    width: 240px;
    height: 256px;
    margin-left: 76px;
    margin-top: 62px;
}
.windowoptions{
    display: flex;
    flex-direction: column;
}
.header_window{
    width: 301px;
    height: 57px;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 32px;
    color: black;
    margin: 60px 57px 0 63px;
}
.window_weight_text{
    width: 211px;
    height: 34px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    color: #989898;
    margin: -11px 147px 0 63px;
}
.window_weight_text span{
    color: black;
    font-weight: 500;
}
.windowtype {
    width: 127px;
    height: 34px;
    background: #EBECEC;
    border-radius: 5px;
    text-align: center;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    margin: 13px 0 0 63px;
}
.windowvariety {
    width: 121px;
    height: 34px;
    background: #EBECEC;
    border-radius: 5px;
    text-align: center;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    margin: -34px 0 0 202px;
}
.windowfeatures {
    width: 219px;
    height: 34px;
    background: #EBECEC;
    border-radius: 5px;
    text-align: center;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    margin: 9px 0 0 63px;
}
.packinginfo{
    width: 308px;
    height: 92px;
    margin: 19px 0 0 63px;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 28px;
}
.compositioninfo{
    width: 300px;
    height: 75px;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #989898;
    margin: 31px 58px 0 63px;
}
.closewindow_1{
    width: 14px;
    height: 13px;
    margin: 18px 0 0 0;
}
.closewindow_2{
    width: 14px;
    height: 13px;
    margin: 18px 0 0 0;
}
.closewindow_3{
    width: 14px;
    height: 13px;
    margin: 18px 0 0 0;
}
.closewindow_4{
    width: 14px;
    height: 13px;
    margin: 18px 0 0 0;
}
.closewindow_5{
    width: 14px;
    height: 13px;
    margin: 18px 0 0 0;
}
.closewindow_6{
    width: 14px;
    height: 13px;
    margin: 18px 0 0 0;
}
.windowvisible{
    display: flex;
    position: fixed;
    width: 770px;
    height: 507px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.4) ;
}
#product_1{
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
}
#product_2{
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
}

#product_3{
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
}

#product_4{
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
}

#product_5{
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
}

#product_6{
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
}









